.root {
    padding-top: 80px;
    padding-bottom: 80px;
}

.label {
    text-align: center;
    font-weight: 900;
    font-size: 38px;
    line-height: 1;
    margin-bottom: calc(1.5 * var(--mantine-spacing-xl));
    color: var(--mantine-color-red-4);

    @media (max-width: 1024px) {
        font-size: 32px;
    }
}

.description {
    max-width: 500px;
    margin: var(--mantine-spacing-xl) auto calc(1.5 * var(--mantine-spacing-xl));
}

.title {
    font-family: 'Greycliff CF', var(--mantine-font-family), serif;
    text-align: center;
    font-weight: 900;
    font-size: 38px;

    @media (max-width: 1024px) {
        font-size: 32px;
    }
}